* {
  font-family: Lucida Grande/Tahoma;
}

/*=============================================
=            Background                       =
=============================================*/
body {
  width: 100%;
  height: 100%;
  background-image: url("/img/BackgroundLogin.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

body img {
  position: absolute;
  z-index: -1;
}

@media (min-width: 1200px) {
  body img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1200px) {
  body img {
    width: 100%;
    height: 780px;
  }
}

/*=====  End of Background  ======*/
/*==============================
=            NavBar            =
==============================*/
.navbar-default {
  line-height: 50px;
  width: 100%;
  max-height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 3px 1px #000;
  -moz-box-shadow: 0 0 3px 1px #000;
  box-shadow: 0 0 3px 1px #000;
  background-color: #fe531b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fe531b), to(#e91e63));
  background-image: -webkit-linear-gradient(top, #fe531b, #e91e63);
  background-image: -moz-linear-gradient(top, #fe531b, #e91e63);
  background-image: -ms-linear-gradient(top, #fe531b, #e91e63);
  background-image: -o-linear-gradient(top, #fe531b, #e91e63);
  background-image: linear-gradient(top, #fe531b, #e91e63);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr= '#fe531b', end-colourStr='#e91e63');
}

.navbar-default .navbarbrand {
  margin-top: 20px;
  margin-left: 200px;
}

.navbar-default #brandIcon {
  z-index: 1;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 20px;
}

.navbar-default div {
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding-left: 45px;
}

/*=====  End of NavBar  ======*/
/*=============================
=            Login            =
=============================*/
.divLogin {
  position: relative;
  width: 500px;
  height: 370px;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1400px) {
  .divLogin {
    top: 130px;
    left: 28%;
  }
}

@media (min-width: 1400px) {
  .divLogin {
    top: 200px;
    left: 39%;
  }
}

.divLogin h1 {
  padding-top: 30px;
  color: white;
}

.divLogin h1 span {
  font-size: 30px;
  margin-right: 7px;
}

.divLogin h2 {
  font-size: 22px;
  margin-bottom: 30px;
  color: #838383;
}

.divLogin h2 span {
  font-weight: bold;
  color: #bfbfbf;
}

.divLogin .input-group {
  width: 300px;
  margin-bottom: 10px;
  margin-left: 110px;
}

.divLogin button {
  margin-top: 15px;
  margin-bottom: 30px;
}

.divLogin p {
  color: white;
}

.divLogin p span {
  color: #0876bd;
  cursor: pointer;
}

.divLogin p span:hover {
  color: #0885bd;
}

.divLogin .wrongIcon {
  display: none;
}

.divLogin #wrongIconUser {
  position: absolute;
  top: 123px;
  left: 420px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: red;
}

.divLogin #wrongIconPassword {
  position: absolute;
  top: 170px;
  left: 420px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: red;
}

.modal-content {
  margin-top: 20px;
}

.modal-content #modalTextContainer {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 400px;
  border: none;
  color: black;
  overflow: hidden;
}

/*=====  End of Login  ======*/
